/* Стили для всех ссылок */
a {
    position: relative;
    z-index: 10; /* Убедитесь, что ссылки находятся на переднем плане */
    color: #007bff; /* Цвет ссылок */
    text-decoration: none; /* Убираем подчеркивание */
  }
  
  /* Стили для активной ссылки */
  a.active {
    font-weight: bold;
    color: #0056b3;
  }
  